body {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-container {
    padding: 0 200px;
    background-color: #1F2937;
    color: white;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0%;
    display: flex;
    gap: 10px;
}

.section-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 200px;
}

.one-left {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.website-title {
    font-size: 36px;
    font-weight: 900;
}

.website-subtext,
ul {
    font-size: 18px;
    font-weight: 400;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
  }

button.sign-up {
    background: #3882F6;;
  border: 1px solid #3882F6;
  color: white;
  width: fit-content;
}

.one-right {
    width: 500px;
    margin: auto;
    text-align: center;
}

.one-right img {
    width: 300px;
    height: auto;
}

.body {
    display: flex;   
    flex-direction: column;
}

.section-two {
    text-align: center;
}

.title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 10px;
}

.box img {
    width: 200px;
    height: auto;
}

.box {
    max-width: 200px;
}

.section-three {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    align-items: center;
    height: 80px;
    padding: 20px;
}

.quote {
    font-size: 20px;
    font-style: italic;
    color: #1F2937;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.quoter {
    color: #1F2937;
    font-weight: bold;
    text-align: end;
    margin-right: 8px;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}